<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>ClobMinds-Job Search</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS here -->
    <link rel="stylesheet" href="css/home.css" >
    <link href="css/login.css"rel="stylesheet">
</head>
<body>
<ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
    <li style="float:right"><a href="login.html">Logout</a></li>
</ul>
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="postjob.html">PostJob</a>
    <a href="listjob.html">listJob</a>
    <a href="editjob.html">EditJob</a>


</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Job</span>










<script src="js/home.js"></script>
</body>

</html>